asgiref==3.4.1
click==8.0.1
Django==3.2.6
django-cors-headers==3.7.0
djangorestframework==3.12.4
EasyProcess==0.3
importlib-metadata==4.6.3
inflect==5.3.0
joblib==1.0.1
mysqlclient==2.0.3
nltk==3.6.2
pytz==2021.1
PyVirtualDisplay==2.2
regex==2021.8.3
selenium==3.141.0
sqlparse==0.4.1
tqdm==4.62.0
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
