div{
    margin-top: 20px;
    margin-left: 7px;
}

Button{
    margin:5px;
}

.suggestions{
    white-space: "unset";
    text-align: "left";
    font-size: 'larger';
}


.performance_col{
    padding: 5px;
}


.performance_row:nth-child(even) {  
    background-color:#0000000d;  }


.performance_row:nth-child(){
    padding: 5px;
}    


/* .loader{
    position: relative;
    top: -52px;
    left: 25%;
} */
#result_table_head{
    font-size: larger;
    background-color: #90EE90;
    white-space: unset;
    text-align: center;
}

#result_table{
    width: 100%;
}

#root{
    background: url('../image/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


